<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Random Motions</title>
</head>

<body>
  <form [formGroup]="form" novalidate>
    <div class="container">
      <div class="jumbotron">
        <h2 class="display-3">Random Motion</h2>
        <p class="lead" style="color:green"><small><a href="http://bddebate.blogspot.com/p/debate-motions.html">From {{ index }} bddebate motions</a></small></p>
        <p class="lead" *ngIf="randomMotion"> {{ randomMotion }}</p>
      </div>
      <button (click)="getRandomMotion()" class="btn btn-lg btn-primary btn-block" type="reset">Get another motion.</button>
    </div>
  </form>
</body>

</html>